In [51]:
import pandas as pd

In [52]:
d = {
    "numbers": [1, 2, 3, 1, 1, 2, 2, 3, 4],
    "days": ["Sunday", "Monday", "Tuesday", "Sunday", "Monday", "Wednesday" , "Sunday", "Monday", "Tuesday"],
    "colours": ["red", "blue", "green", "blue", "green", "blue", "green", "red", "blue"]
}
df = pd.DataFrame(d, index=["Row1", "Row2", "Row3", "Row4", "Row5", "Row6", "Row7", "Row8", "Row9"])
df

      numbers       days colours
Row1        1     Sunday     red
Row2        2     Monday    blue
Row3        3    Tuesday   green
Row4        1     Sunday    blue
Row5        1     Monday   green
Row6        2  Wednesday    blue
Row7        2     Sunday   green
Row8        3     Monday     red
Row9        4    Tuesday    blue

## Selecting columns

In [53]:
df.numbers

Row1    1
Row2    2
Row3    3
Row4    1
Row5    1
Row6    2
Row7    2
Row8    3
Row9    4
Name: numbers, dtype: int64

In [54]:
df["numbers"]

Row1    1
Row2    2
Row3    3
Row4    1
Row5    1
Row6    2
Row7    2
Row8    3
Row9    4
Name: numbers, dtype: int64

In [55]:
type(df["numbers"])

pandas.core.series.Series

In [56]:
df[["numbers"]]

      numbers
Row1        1
Row2        2
Row3        3
Row4        1
Row5        1
Row6        2
Row7        2
Row8        3
Row9        4

In [57]:
type(df[["numbers"]])

pandas.core.frame.DataFrame

In [58]:
df[["numbers", "days"]]

      numbers       days
Row1        1     Sunday
Row2        2     Monday
Row3        3    Tuesday
Row4        1     Sunday
Row5        1     Monday
Row6        2  Wednesday
Row7        2     Sunday
Row8        3     Monday
Row9        4    Tuesday

In [59]:
df["numbers", "days"]

KeyError: ('numbers', 'days')

### Selecting rows and columns using loc

In [61]:
df

      numbers       days colours
Row1        1     Sunday     red
Row2        2     Monday    blue
Row3        3    Tuesday   green
Row4        1     Sunday    blue
Row5        1     Monday   green
Row6        2  Wednesday    blue
Row7        2     Sunday   green
Row8        3     Monday     red
Row9        4    Tuesday    blue

In [60]:
df.loc["Row1"]

numbers         1
days       Sunday
colours       red
Name: Row1, dtype: object

In [62]:
df.loc[["Row1","Row2"]]

      numbers    days colours
Row1        1  Sunday     red
Row2        2  Monday    blue

In [63]:
df.loc[["Row1","Row2"],["numbers","days"]]

      numbers    days
Row1        1  Sunday
Row2        2  Monday

### Selecting rows and columns using iloc

In [64]:
df.iloc[[0,2],[0,2]]

      numbers colours
Row1        1     red
Row3        3   green

In [65]:
df.iloc[0:5,1:]

         days colours
Row1   Sunday     red
Row2   Monday    blue
Row3  Tuesday   green
Row4   Sunday    blue
Row5   Monday   green

### Difference between loc and iloc
1. loc refers to actual index names of ros and columns
2. iloc refers to index position starting from 0

### Series Functions

https://pandas.pydata.org/docs/reference/series.html

In [66]:
df.numbers.mean() #mean of a column

2.111111111111111

In [68]:
df.numbers

Row1    1
Row2    2
Row3    3
Row4    1
Row5    1
Row6    2
Row7    2
Row8    3
Row9    4
Name: numbers, dtype: int64

In [69]:
df.numbers.multiply(2)

Row1    2
Row2    4
Row3    6
Row4    2
Row5    2
Row6    4
Row7    4
Row8    6
Row9    8
Name: numbers, dtype: int64

In [70]:
df.numbers.max()

4

In [71]:
df.numbers.idxmax()

'Row9'

In [73]:
df.loc[df.numbers.idxmax()]

numbers          4
days       Tuesday
colours       blue
Name: Row9, dtype: object

In [74]:
df.numbers.sum()

19

In [75]:
df.numbers.add(2)

Row1    3
Row2    4
Row3    5
Row4    3
Row5    3
Row6    4
Row7    4
Row8    5
Row9    6
Name: numbers, dtype: int64

In [76]:
df.numbers.agg([min, max])

min    1
max    4
Name: numbers, dtype: int64

### Groupby

In [77]:
df.groupby('numbers').size()

numbers
1    3
2    3
3    2
4    1
dtype: int64

In [78]:
df.numbers.value_counts()

1    3
2    3
3    2
4    1
Name: numbers, dtype: int64

In [79]:
df.groupby(['numbers', 'days']).count()

                   colours
numbers days
1       Monday           1
        Sunday           2
2       Monday           1
        Sunday           1
        Wednesday        1
3       Monday           1
        Tuesday          1
4       Tuesday          1

### Sorting

In [80]:
df.sort_values('numbers')

      numbers       days colours
Row1        1     Sunday     red
Row4        1     Sunday    blue
Row5        1     Monday   green
Row2        2     Monday    blue
Row6        2  Wednesday    blue
Row7        2     Sunday   green
Row3        3    Tuesday   green
Row8        3     Monday     red
Row9        4    Tuesday    blue

In [81]:
df.sort_values('days')

      numbers       days colours
Row2        2     Monday    blue
Row5        1     Monday   green
Row8        3     Monday     red
Row1        1     Sunday     red
Row4        1     Sunday    blue
Row7        2     Sunday   green
Row3        3    Tuesday   green
Row9        4    Tuesday    blue
Row6        2  Wednesday    blue

In [82]:
df.sort_index()

      numbers       days colours
Row1        1     Sunday     red
Row2        2     Monday    blue
Row3        3    Tuesday   green
Row4        1     Sunday    blue
Row5        1     Monday   green
Row6        2  Wednesday    blue
Row7        2     Sunday   green
Row8        3     Monday     red
Row9        4    Tuesday    blue

In [83]:
df.T.sort_index()

,Row1,Row2,Row3,Row4,Row5,Row6,Row7,Row8,Row9
colours,red,blue,green,blue,green,blue,green,red,blue
days,Sunday,Monday,Tuesday,Sunday,Monday,Wednesday,Sunday,Monday,Tuesday
numbers,1,2,3,1,1,2,2,3,4